@purple: #f20cb1;
@pink: #f786bd;


.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
  background-color: @purple;
  color: white;
  .margenes(50px, 0px);
  }

footer {
  padding: 10px 10px 0 10px;
  background-color: @pink;
   .margenes(10px, 0px);
    }

.card-hotel {
  flex: 1 200px;
   .margenes(10px, 0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10x; }

.tab-conten {
  padding-top: 10px; }
