$purple: #f20cb1;
$pink: #f786bd;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $purple;
	color: white;
	@include margenes(50px, 0px);

}

footer {
	padding: 10px 10px 0 10px;
	background-color: $pink;
	@include margenes(10px, 0px);

}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
	
}

.footer-address-icon {
	padding-right: 10x;
}

.tab-conten {
	padding-top:10px ;
}
